h3{color: darkgreen;
    font-weight: 700;
    font-family: sans-serif;}

h4{color: rgb(70, 20, 220);
    font-weight: 700;
    font-family: cursive;}

p{color: rgb(17, 0, 33);
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif}

ul{list-style-image: url(images/pointer-icon.png) ;}

#bar a{text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: aquamarine;}
#bar a:hover{background-color: aqua;
        color: white;}